<footer id="footer" class="blog-footer">
    <div class="blog-nav-enclosure">
        <div class="footer-content">
            <div class="copyright-container">
                <div>
                    <span class="copyright"><i class="far fa-copyright"></i></span>
                    <span>All rights reserved.</span>

                </div>
            </div>
            <div class="important-links">
                <a href="/">Home</a>
                <a href="#">About Us</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="socials">
                <a href="https://www.facebook.com/ZOOM-sports-updates-108939795152046/" target="_blank"
                    class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank" class="social-icon ig"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank" class="social-icon mail"><i class="fas fa-envelope"></i></a>
                <a href="#" target="_blank" class="social-icon yt"><i class="fab fa-youtube"></i></a>

            </div>
        </div>
        <div class="footer-sponsor">
            <a
                href="https://www.digitalocean.com/?refcode=9487c6cecfd5&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                    src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg"
                    alt="DigitalOcean Referral Badge" /></a>
        </div>

    </div>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@5.3.8/dist/simplebar.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
<script src="https://cdn.ckbox.io/CKBox/1.1.0/ckbox.js"></script>

<script>
    const headers = window.location
    if (document.querySelector("#editor") != null) {
        ClassicEditor
            .create(document.querySelector('#editor'), {
                ckbox: {
                    tokenUrl: headers.protocol + "//" + headers.host + '/editor/ckeditor',
                },
                toolbar: [
                    'ckbox', 'imageUpload', '|', 'heading', '|', 'undo', 'redo', '|', 'bold', 'italic', '|',
                    'blockQuote', 'indent', 'link', '|', 'bulletedList', 'numberedList', '|', 'mediaEmbed',
                ],
            })
            .catch(error => {
                console.error(error);
            });

    }

    document.querySelectorAll('oembed[url]').forEach(element => {
        // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
        // to discover the media.
        const anchor = document.createElement('a');

        anchor.setAttribute('href', element.getAttribute('url'));
        anchor.className = 'embedly-card';

        element.appendChild(anchor);
    });
    document.querySelectorAll('div[data-oembed-url]').forEach(element => {
        // Discard the static media preview from the database (empty the <div data-oembed-url="...">).
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }

        // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
        // to discover the media.
        const anchor = document.createElement('a');

        anchor.setAttribute('href', element.dataset.oembedUrl);
        anchor.className = 'embedly-card';

        element.appendChild(anchor);
    });
</script>
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="https://unpkg.com/embla-carousel-wheel-gestures/dist/embla-carousel-wheel-gestures.umd.js"></script>
<script src="/embla.js"></script>
<script src="/thumb.js"></script>
<script src="/autoplay.js"></script>
<script src="/login.js"></script>
<script src="/validate.js"></script>
<script src="/index.js"></script>
</body>

</html>