<%- include("partials/blogheader") %>
<section id="header-container" class="blog-header">
    <div class="small-screen-search search-bar">
        <i class="fas fa-times close-sm-search"></i>
        <form action="/search" method="GET" class="small-search-form search-form">
            <div class="small-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="small-search" placeholder="search for a movie..." name="query">
                <input type="submit" value="search" hidden>
            </div>
        </form>
    </div>

    <div class="wrapper-enclosure-blog">
        <div class="compose-form-wrapper compose-form-container">
            <div class="compose-form-inner">
                <div class="compose-form-header">
                    <h1>
                        Compose a blog post
                    </h1>
                    <p>To write a complete blog post, please fill out the fields below. To save a post as draft, set its
                        status to <strong>Draft</strong>. But if you feel that the post is complete, then set its status
                        to <strong>public</strong> </p>
                </div>
                <div class="compose-form-wrapper">
                    <form class="compose-form" action="/blog/compose" method="POST" enctype="multipart/form-data">
                        <div class="names">
                            <div class="firstname">
                                <label for="fist-name">Author's Name</label>
                                <input type="text" id="fName" name="author" required>
                            </div>
                            <div class="lastname">
                                <label for="last-name">Email Address</label>
                                <input type="text" id="lName" name="email" required>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" required>
                        </div>
                        <div class="names">
                            <div class="firstname">
                                <label for="phone">Category</label>
                                <div class="select-box">
                                    <div class="options-container">
                                      <div class="option">
                                        <input type="radio" class="radio" id="action" name="movies"/>
                                        <label for="movies">Movie News</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="shows" name="shows" />
                                        <label for="shows">Tv News</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="pop-culture" name="popculture" />
                                        <label for="pop culture">Pop Culture</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="marvel-universe" name="marvel" />
                                        <label for="marvel">Marvel Universe</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="dc" name="dc" />
                                        <label for="dc">DC News</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="streaming" name="streaming" />
                                        <label for="streaming">Streaming News</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="box-office" name="boxOffice"/>
                                        <label for="box-office">Box Office</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="celebs" name="celebs" />
                                        <label for="celebs">Celebrities</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="comedy" name="comedy" />
                                        <label for="comedy">Comedy News</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="casting" name="casting" />
                                        <label for="casting">Casting News</label>
                                      </div>
                                    </div>
                            
                                    <div class="selected" >
                                      <input type="text" name="category" id="category" value="choose a category">
                                    </div>
                                </div>
                            </div>
                            <div class="lastname">
                                <label for="state">Status</label>
                                <div class="select-box">
                                    <div class="options-container">
                                      <div class="option">
                                        <input type="radio" class="radio" id="draft" name="draft"/>
                                        <label for="draft">Draft</label>
                                      </div>
                                      <div class="option">
                                        <input type="radio" class="radio" id="public" name="public" />
                                        <label for="public">Public</label>
                                      </div>
                                    </div>
                            
                                    <div class="selected" >
                                      <input type="text" name="status" id="status" value="Select a status">
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="names">
                            <div class="firstname">
                                <label for="image">Image</label>
                                <input type="file" id="image" name="photo">
                            </div>
                            <div class="lastname">
                                <label for="state">Image's Title</label>
                                <input type="text" id="image-title" name="photoTitle">
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="body">Body</label>
                            <textarea class="ck-content" name="body" id="editor">Start Writing Your blog post here...</textarea>
                        </div>
                        <div class="action-btns">
                            <button type="submit" class="publish-btn">Publish</button>
                            <a href="/blog/posts" role="button" class="publish-btn">Cancel</a>
                        </div>
                        
                    </form>


                </div>
            </div>

        </div>
    </div>


</section>



<%- include('partials/blogfooter') %>