<div style=" display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 1.2rem; text-align: center; padding: 2rem; max-width: 700px; width: 100%;
margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: lighter;" >
    <h2>Sorry, You do not have admin access. Please provide the <strong style="color: red;">secret token</strong> in order to access the admin-only page you are
        requesting!</h2>
    <a href="/blog/register" role="button" style="text-decoration: none; padding: 1rem 1.2rem; font-weight: bold; color: white; background-color: black; border-radius: 10px;">Go Back</a>
</div>