<!-- <nav class="navigation">
        <div class="blog-nav-enclosure">
            <div class="logo-and-links">
                <div class="logo">
                    <div class="burger blog-burger">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <a href="/">
                        <div class="logo-wrapper">
                            <img src="/zs-logo.png" alt="Zoom Sportz">
                            
                        </div>

                    </a>
                </div>
                
                <ul class="nav_links">
                    <li class="nav_link"> <a href="/surebets">Surebets</a> </li>
                    <li class="nav_link"> <a href="/odds-comparison">Odds-comparison</a> </li>
                    <li class="nav_link"> <a href="/live-preview">Livescores</a> </li>
                    <li class="nav_link"> <a href="/highlights">Highlights</a> </li>
                    <li class="nav_link"> <a href="/tables">Tables</a> </li>
                    <li class="nav_link"> <a href="/league">League</a> </li>
                </ul>

            </div>

        </div>
    </nav> -->
