<%- include("partials/formheader") %>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog">
        <% if(messages){%>
        <% if(messages.error){%>
        <div class="flash-wrapper">
            <div class="flash-message warning">
                <h2 class="flash-error"><%= messages.error[0]%></h2>
            </div>
        </div>

        <%}%>
                <%if(messages.info){ %>
        <div class="flash-wrapper">
            <div class="flash-message success-info">
                <h2 class="flash-success"><%= messages.info[0]%></h2>
            </div>
        </div>
        <% } %>
        <% } %>
        <div class="form-container-wrapper">
            <div class="forms-container">
                <div class="form-title">
                    <div class="form-title-header">
                        <i class="history fas fa-long-arrow-alt-left"></i>
                    </div>

                    <h2>Reset Password</h2>
                    <p>Provide a new Password</p>
                </div>
                <div class="actions-wrapper">
                    <form action="/users/reset/<%=user.resetPasswordToken%>" id="auth-form" method="POST">
                        <div class="actions-input-wrapper">
                            <div class="actions-input">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" id="password" placeholder="New password"
                                    class="pass-input">
                                <div class="pass-reveal">
                                    <i class="fas fa-eye open-eye"></i>
                                    <i class="fas fa-eye-slash black-eye"></i>
                                </div>
                            </div>
                            <small class="auth">Error Message</small>
                        </div>
                        <div class="actions-input-wrapper">
                            <div class="actions-input">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="confirmclientpassword" id="cpassword"
                                    placeholder="confirm password" class="pass-input">
                                <div class="pass-reveal">
                                    <i class="fas fa-eye open-eye"></i>
                                    <i class="fas fa-eye-slash black-eye"></i>
                                </div>
                            </div>
                            <small class="auth">Error Message</small>
                        </div>
                        <button type="submit" class="send-btn">Reset Password</button>
                    </form>
                </div>

            </div>
        </div>



    </div>



</section>
<footer id="footer" class="blog-footer">
    <div class="blog-nav-enclosure">
        <div class="footer-content">
            <div class="copyright-container">
                <div>
                    <span class="copyright"><i class="far fa-copyright"></i></span>
                    <span>All rights reserved.</span>

                </div>
            </div>
            <div class="important-links">
                <a href="/">Home</a>
                <a href="/about-us">About Us</a>
                <a href="/privacy">Privacy Policy</a>
            </div>
            <div class="socials">
                <a href="https://www.facebook.com/ZOOM-sports-updates-108939795152046/" target="_blank"
                    class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank" class="social-icon ig"><i class="fab fa-instagram"></i></a>
                <a href="mailto:info@zoom-sportz.com" target="_blank" class="social-icon mail"><i
                        class="fas fa-envelope"></i></a>
                <a href="#" target="_blank" class="social-icon yt"><i class="fab fa-youtube"></i></a>

            </div>

        </div>
        <div class="footer-sponsor">
            <a
                href="https://www.digitalocean.com/?refcode=9487c6cecfd5&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                    src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg"
                    alt="DigitalOcean Referral Badge" /></a>
        </div>
    </div>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@5.3.8/dist/simplebar.min.js"></script>
<!-- embla -->
<script src="/embla.js"></script>
<script src="/autoplay.js"></script>
<script src="/login.js"></script>
<script src="/validate.js"></script>
<script src="/index.js"></script>
</body>

</html>