:root {
    --primaryColor:  #00019e;
    --secondaryColor: rgba(255, 90, 90, 1);
    --yellow: #fbc500;
    --mainWhite: #fff;
    --mainBlack: #242424;
    --mainGrey: #f7f9fa;
    --linkText: #2f80ed;
    --boxShadow: 0 012px rgba(61, 99, 140, .08);
    --lightGrey: rgb(212, 212, 212, 1);
    --midGray: rgb(212, 212, 212, 0.85);
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --dropTransition: all 0.5s ease-in;
    --mainBorderRaduis: 3px;
}

.embla {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.embla__container a {
    text-decoration: none;
}

.embla-title,
.embla-small-title {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1rem 0 -10px;
    color: #fff;
}

.embla-small-title {
    margin: 0 0 10px;
}

.embla__viewport,
.autoplay {
    overflow: hidden;
    width: 100%;
}

.thumb__viewport {
    height: 100%;
    width: 100%;

}

.autoplay div.embla__container,
.thumb__viewport div.embla__container {
    will-change: transform;
}

.autoplay div.embla__slide,
.thumb__viewport div.embla__slide {
    counter-increment: embla;
}

.embla__viewport.is-draggable,
.autoplay.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging,
.autoplay.is-draggable {
    cursor: grabbing;
}


.embla__slide {
    position: relative;

}

.embla__slide:not(:last-child) {
    margin-right: 10px;
}

.embla__tag:not(:last-child) {
    margin-right: 15px;
}

.embla__slide__inner {
    position: relative;
    overflow: hidden;
}



.embla__button {
    outline: 0;
    cursor: pointer;
    background-color: var(--primaryColor);
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 0;
    transform: translateY(0);
    border: 0;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    fill: var(--mainWhite);
    padding: 0;
}

.square__btn,
.circular-btn {
    height: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;

}

.circular-btn {
    top: 40%;
}

.circular-btn.embla__button:disabled {
    cursor: default;
    opacity: 0.3;
}

.circular-btn .embla__button__svg {
    width: 18px;
    height: 18px;
}

.cast__btn {
    top: 35%;
    transform: translateY(-35%);
}

.embla__button:disabled {
    cursor: default;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.embla__button__svg {
    width: 27px;
    height: 27px;
}

.embla__button--prev {
    left: 0;
}

.embla__button--next {
    right: 0;

}

.square__btn.embla__button--prev {
    left: -13.5px;
}

.square__btn.embla__button--next {
    right: -13.5px;

}

/* for genre embla carousel */
.embla__genre__prev .embla__button__svg,
.embla__genre__next .embla__button__svg {
    width: 20px;
    height: 20px;
}

.embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
}

.embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
}

.embla__dot:after {
    background-color: #efefef;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    content: "";
}

.embla__dot.is-selected:after {
    background-color: var(--secondaryColor);
    opacity: 1;
}



@media screen and (max-width:412px) {
    .embla__button {
        width: 2.4rem;
    }

    .embla__button__svg {
        width: 23px;
        height: 23px;
    }

    .embla__button--prev {
        left: -1px;
    }

    .embla__button--next {
        right: -1px;

    }


}

/* embla thrumb */
.embla--thumb {
    padding-top: 0;
    /* margin-top: -12px; */
}

.embla__container--thumb {
    cursor: default;
    /* margin-left: -8px; */
    display: flex;
    flex-direction: column;
    height: 430px;
    box-sizing: border-box;

}



.embla__slide--thumb {
    /* padding-left: 8px; */
    min-width: 20%;
    height: 100%;
    transition: background-color 0.2s;
    
}


.embla__slide__inner--thumb {
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    height: 105px;
    min-width: 170px;
    max-width: 170px;
    flex-basis: 48%;
    margin-right: 10px;
    background-color: transparent;
    position: relative;
    display: block;
    overflow: hidden;
}

@media screen and (max-width:961px){
    .embla__container--thumb {
        cursor: default;
        /* margin-left: -8px; */
        /* display: grid;
        grid-template-columns: repeat(6, 230px);
        grid-template-rows: 1fr;
        column-gap: 10px; */
        display: flex;
        flex-direction: row;
    }
    .embla__slide--thumb {
        padding-left: 8px;
        min-width: 30%;
    }
    .embla__slide--thumb:not(:first-of-type){
        margin-left: 8px;
    }
    .embla__slide__inner--thumb {
        min-width: 100%;
        max-width: 100%;
        height: 150px;
        margin-right: 10px;
    }
}

@media screen and (max-width:780px){
    .embla__slide--thumb {
        min-width: 40%;
    }
}

@media screen and (max-width:540px){
    .embla__slide__inner--thumb {
        height: 120px;
    }
    div.blog-header-right {
        max-height: 200px;
    }
    .embla__slide--thumb {
        min-width: 50%;
    }
}

@media screen and (max-width:414px){
    .embla__slide--thumb {
        min-width: 60%;
    }
}

.embla__slide__thumbnail {
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: -10000%;
    right: -10000%;
    margin: auto;
    min-width: 1000%;
    min-height: 1000%;
    max-width: none;
    transform: scale(0.1);
    transition: opacity 0.2s;
}

.embla__slide--thumb.is-selected .embla__slide__thumbnail {
    opacity: 1;
}

/* .embla__slide--thumb.is-selected{
    
    background: #42E1AE;
    
} */

.thumbnail-post-heading{
    opacity: 0.5;
    transition: opacity 0.2s;
}

.embla__slide--thumb.is-selected .thumbnail-post-heading{
    opacity: 1;
}
