<div style=" display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 1.1rem; text-align: center; padding: 2rem;  max-width: 700px; width: 100%;
margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: lighter;" >
    <h2 style="font-size: 1.2rem; color:black">Server Error</h2>
    <p style="font-size:1rem; color:grey">We're sorry, something went wrong</p>
    <a href="/blog/posts" role="button" style="text-decoration: none; padding: 1rem 1.2rem; font-weight: bold; color: white; background-color: black; border-radius: 10px;">Go Back</a>
</div>